node_modules/
dist/
.angular/
.env
*.log
.vscode/
*.sourcemap
*.tsbuildinfo
.DS_Store
Thumbs.db
backend/bin/
backend/obj/
**/bin/
**/obj/
bin/
obj/
npm-debug.log
yarn-error.log
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings